/* body {
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #6bb1eb;
    overflow-y: scroll;
}

button {
    background-color: #aec584;
    border: none;
    min-width: 30pt;
    height: 30pt;
}

button:not([disabled]):hover {
    background-color: #7f9a4f;
}

table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
} */
